@font-face {
   font-family: "Flaticon";
   font-style: normal;
   font-weight: normal;
   font-display: block;
   src: url(flaticon.woff2) format("woff2"), url(flaticon.woff) format("woff");
}

[class^="flaticon-"], [class*=" flaticon-"] {
	line-height: 1;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	font-weight: normal;
}

.flaticon-logout:before { content: "\f100"; }
.flaticon-box:before { content: "\f101"; }
.flaticon-scale:before { content: "\f102"; }
.flaticon-cog:before { content: "\f103"; }
.flaticon-user:before { content: "\f104"; }
.flaticon-padlock:before { content: "\f105"; }
.flaticon-docs:before { content: "\f106"; }
.flaticon-invoices:before { content: "\f107"; }
.flaticon-shopping-cart:before { content: "\f108"; }
.flaticon-home:before { content: "\f109"; }
.flaticon-chat:before { content: "\f10a"; }
.flaticon-angle-down:before { content: "\f10b"; }
.flaticon-pencil:before { content: "\f10c"; }
.flaticon-bell:before { content: "\f10d"; }
.flaticon-email:before { content: "\f10e"; }
.flaticon-building:before { content: "\f10f"; }
.flaticon-partners:before { content: "\f110"; }
